<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> 
  <title>Node Hello World | <%= title %></title>
  <!-- we put the styles in the public directory
  therefore we don't need to say from where the styles goes,
  but the express will go to this directory and look for the styles.css -->
</head>