<nav>
  <div class="site-title">
    <a href="/">
      <h1 class="header">עם אחד</h1>
    </a>
    <p class="header">עורף חזק, צבא חזק</p>
  </div>
  <ul class="navbar">
    <li><a href="/blogs/create">Post |</a></li>
    <li><a href="/about">About This project |</a></li>
    <li><a href="/">All Donations |</a></li>
    <li><a href="/contactUs">Contact Us |</a></li>
  </ul>
</nav>
