<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>

      <p>
        Welcome! <br />
        We aims to connect generous donors with those in dire need during
        wartime.
      </p>
      <p>
        Our mission is to create a compassionate and safe community where you
        can both offer and receive financial help to alleviate the hardships
        caused by war.
      </p>

      <p>
        Together, we believe that even the smallest acts of kindness can make a
        significant impact, offering hope and a lifeline to those affected by
        conflict.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
