@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
  --blue: #4646e9;
  --light-blue: #3498db;
  --hover-blur: var(--hover-blue);
  --black: rgb(63, 63, 63)232;

  --blue-btn: #007BFF;
  --like-bg: #f2f2f2;
  --like-hover-bg: #e6e6e6;
  --like-border: #c2c2c2;
}

body {
  background-color: aliceblue;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 3px solid var(--blue);
  background-color: rgb(221, 239, 255);
  border-radius: 12px;
}

.site-title {
  display: grid;
  align-items: center;

  /* border: solid 1px red; */
}

nav ul {
  display: flex;
  align-items: end;
  gap: 13px;

  /* border: solid 1px black; */
}

nav li {
  list-style-type: none;
  font-size: 18px;

  /* border: solid 1px red; */
}

nav a {
  color: var(--black);
  font-weight: 800;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  /* border: solid 2px green; */
}

nav a:hover {
  background-color: var(--blue);
  color: #fff;
  border-radius: 5px;
}

nav h1 {
  font-size: 3em;
  margin-right: 15px;
}

.header,
.header-logo {
  color: var(--blue);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header:hover {
  color: #fff;
}

footer {
  color: var(--black);
  text-align: center;
  margin: 80px auto 20px;
}


h2 {
  margin-bottom: 80px;
  font-weight: 600;
  color: var(--blue);
  font-size: 35px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: -22px;
}

h2 {
  text-align: center;
}

.content {
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.snippet {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 30px;
}

.body {
  padding-left: 10px;
}

/* index styles */
.blogs a {
  display: block;
  margin: 40px 0;
}

.blog {
  display: block;
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 62px;
  position: relative;

  outline: solid 1px rgb(13, 0, 255);
  border-top: solid 4px var(--blue);
  border-bottom: solid 4px var(--blue);
  border-radius: 22px;


}

.blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Star_of_David.svg/400px-Star_of_David.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12%;

  opacity: 0.3;
  z-index: -1;
}

.bg {

  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Star_of_David.svg/400px-Star_of_David.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  opacity: 0.1;
  z-index: 10;

}

.blogs h3 {
  text-align: center;
  text-decoration: underline;

}

.blogs a:hover h3 {
  color: var(--blue);
}


/* likes */
.likes {
  color: var(--blue);
  font-size: 22px;
}

.like {
  margin-left: 12px;
  background-color: var(--blue);
  color: #FFF;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.like:hover {
  transform: scale(1.1, 1.1);
}

.blog-comment {
  display: flex;
  justify-content: end;
  margin: 12px;
}

/* about */
.about p {
  font-size: 22px;
}

/* details styles */
.details h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.details p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}

.details {
  margin-top: 45px;
  margin-inline: auto;
  text-align: center;
}



/* delete button in the details page */
.delete {
  position: relative;
  background-color: crimson;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  cursor: pointer;
}

.delete:hover {
  background-color: #b31212;
}

/* create new blog*/
.create-blog form {
  max-width: 600px;
  margin: 0 auto;
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;

  border: solid 2px black;
}

.create-blog label {
  display: block;
  margin-top: 24px;

  /* border: solid 2px yellow; */
}

textarea {
  height: 120px;
}

.create-blog button {
  margin-top: 20px;
  background: var(--blue-btn);
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.contact-btn:hover button {
  background-color: #000;
}



/* contact us form */

.contact-form {
  max-width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-blue);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: var(--blue-btn);
}